### IntelliJ IDEA

.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin/

### Compiled Java Files

*.class

### Build Tools

target/
build/
dist/

### Eclipse

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans

/nbproject/private/
/nbbuild/
/nbdist/
/dist/
/.nb-gradle/

### VS Code

.vscode/

### Logs

*.log

### OS Files

.DS_Store
Thumbs.db
